<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodrigo.weatherapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

	<!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mtt"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        
        <!-- Activities -->
        <activity
            android:name=".activity.LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".activity.WeatherActivity"
            android:label="@string/app_name" >
        </activity>
    </application>
</manifest>